---
projects:
    -   name: "Neon Coil"
        url: "/neon-coil/"
        image: "/images/neon-coil/neon-coil-thumbnail.jpg"

    -   name: "Research Ravine"
        url: "/research-ravine/"
        image: "/images/research-ravine/research-ravine-thumbnail.jpg"

    -   name: "DayZ Banking"
        url: "/dayz-banking/"
        image: "/images/dayz-banking/banking-thumbnail.jpg"

    -   name: "DayZ Fast Travel"
        url: "/dayz-fast-travel/"
        image: "/images/dayz-fast-travel/fast-travel-thumbnail.jpg"

    -   name: "DayZ More Explosives"
        url: "/dayz-more-explosives/"
        image: "/images/dayz-more-explosives/more-explosives-thumbnail.jpg"

    -   name: "DayZ Breachingcharge"
        url: "/dayz-breachingcharge/"
        image: "/images/dayz-breachingcharge/breachingcharge-thumbnail.jpg"

    -   name: "Cthulhu Attacks"
        url: "/cthulhu-attacks/"
        image: "/images/cthulhu-attacks/cthulhu-attacks-thumbnail.jpg"

    -   name: "Nonverbal Communication"
        url: "/nonverbal-communication/"
        image: "/images/nonverbal-communication/nonverbal-communication-thumbnail.jpg"

    -   name: "Compulsive Hoarding"
        url: "/compulsive-hoarding/"
        image: "/images/compulsive-hoarding/compulsive-hoarding-thumbnail.jpg"



skills:
    -   name: "C# / C++"
        icon: "fas fa-code"
        description: "C++ and C# have been core aspects of my degrees, allowing me to gather substantial theoretical knowledge and hands-on experience with both languages. I constantly refine this knowledge further through personal projects, and consequently, I can not only write clean, performant code but also have the ability to debug code to resolve any issues that could arise."
    
    -   name: "Engine Knowledge"
        icon: "fas fa-computer"
        description: "Unreal and Unity were the basis for the majority of projects during my academic studies, and since my graduation, Unreal has been the focus of my personal projects. Together with the experiences I amassed through creating mods with DayZ's Enfusion Engine, I am well-versed in working with game engines and able to quickly familiarize myself with any components that might be required."
    
    -   name: "Game Development"
        icon: "fas fa-gamepad"
        description: "Thanks to my degrees and my passion for and years of playing games across many genres, I have an excellent understanding of game mechanics and other fields beyond just programming, such as game design, animation, modeling, networking, and UI. As a result, I can approach projects with a well-rounded perspective and design components in a way that is beneficial to the team as well as the player experience."
    
    -   name: "Teamwork"
        icon: "fas fa-users"
        description: "Working with people has always played a significant role in most of my projects, be it collaborating directly in a team to finish a game or giving and receiving feedback in regards to decisions and design. Supporting my mods over the years has been especially helpful in regards to further improving my team-related skills, as I got to work with people with vastly different backgrounds and skill sets. Combined with my general game development knowledge, I can work efficiently with teams across multiple disciplines."


educations:
    -   name:
            - "Master of Science"
            - "Game Engineering and Visual Computing"
        school:
            - "May 2022"
            - "University of Applied Sciences"
            - "Kempten, Germany"
        result:
            - "1.1 / 1.0"
            - "Graduated with distinction"
            - "Graduated top of class"
        url: "/certificates/DennisVidal_Master.pdf"

    -   name:
            - "Bachelor of Science"
            - "Computer Science – Game Engineering"
        school:
            - "July 2020"
            - "University of Applied Sciences"
            - "Kempten, Germany"
        result:
            - "1.5 / 1.0"
        url: "/certificates/DennisVidal_Bachelor.pdf"


papers:
    -   name: "Noise-based Generation of 3D Worlds for a VR Flight Simulation"
        url: "/papers/DennisVidal_MasterThesis_ProceduralGeneration.pdf"
        meta:
            - "April 2022"
            - "Master's thesis (German)"
        description: "The focus of my master's thesis is the procedural generation of environments in games. The paper describes different aspects of procedural generation as well as the flight simulation I developed as part of the thesis."
   
    -   name: "Multimodal Influences on Perception to Increase the Immersion of VR Applications"
        url: "/papers/DennisVidal_SeminarPaper_Immersion.pdf"
        meta:
            - "June 2021"
            - "Seminar paper (English)"
        description: "The general topic of this paper is immersion in games. It dives into what immersion actually is, the factors that influence it, and ways that can be utilized to increase it in the context of games."
    
    -   name: "Nonverbal Communication with Autonomously Controlled Characters in AR Worlds"
        url: "/papers/DennisVidal_BachelorThesis_NonverbalCommunication.pdf"
        meta:
            - "June 2020"
            - "Bachelor's thesis (German)"
        description: "The focus of my bachelor's thesis is communication with virtual characters through nonverbal means, e.g., gaze direction and distance to the character. The paper describes certain aspects of nonverbal communication and cues as well as the project I developed as part of the thesis."
    
    -   name: "Learning Analytics for Serious Games"
        url: "/papers/DennisVidal_SeminarPaper_LearningAnalytics.pdf"
        meta:
            - "June 2019"
            - "Seminar paper (English)"
        description: "The topic of this paper is learning analytics and its application in serious games. It provides general information about learning analytics and gives an overview of its components."
---


<!DOCTYPE HTML>
<html>

<head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8">
    <meta lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/all.css">
</head>


<body>
    <nav class="navigation">
        <div class="links">
            <a class="link" href="{{ site.github }}" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a class="link" href="mailto:{{ site.email }}">
                <i class="fas fa-envelope"></i>
                <p class="e-mail">{{ site.email }}</p>
            </a>
        </div>
        <div class="other-links">
            <a href="{{ site.resume }}" target="_blank">Resume</a>
        </div>
    </nav>

    <main class="page-main">
        <header class="banner">
            <h1 class="banner-text">Hey there and welcome to my portfolio</h1>
        </header>
    
    <!-- About Me -->
        <section class="content-section">
            <header class="content-header">
                <div class="line"></div>
                <h2 class="text">About Me</h2>
            </header>
            <div class="content">
                <div class="about-me-summary">
                    <img src="/images/profile_picture.jpg" alt="A picture of Dennis Vidal">
                    <p>
                        I'm Dennis, a game developer from Bavaria in Germany. While I'm sort of a generalist programmer, my focus and expertise
                        lie in the creation of immersive gameplay that is both intuitive and fun for players. I've always had a passion for
                        games and have been playing them since my early childhood, which led me to pursue both a bachelor's and a master's
                        degree in the field. Whenever I don't work on projects in my spare time, I mostly either play games with some friends or
                        catch up on anime, manga, and novels.
                    </p>
                </div>
            </div>
        </section>
    
        
    <!-- Projects -->
        <section class="content-section">
            <header class="content-header">
                <div class="line"></div>
                <h2 class="text">Projects</h2>
            </header>
            <div class="content">
                <div class="carousel">
                    <div class="carousel-content">
                        {% for project in page.projects %}
                            <div class="carousel-item">
                                <a class="project" href="{{ project.url }}">
                                    <p class="project-title">{{ project.name }}</p>
                                    <img class="project-image" src="{{ project.image }}" alt="A picture of {{ project.name }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="carousel-controls">
                        <button class="carousel-button prev">
                            <i class="fas fa-angle-left"></i>
                        </button>
                        <div class="carousel-dots">
                            <!--<button class="carousel-dot active"></button>-->
                        </div>
                        <button class="carousel-button next">
                            <i class="fas fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="content-section">
            <header class="content-header">
                <div class="line"></div>
                <h2 class="text">Skills</h2>
            </header>
            <div class="content">
                <div class="skills">
                    {% for skill in page.skills %}
                        <div class="skill">
                            <div class="skill-header">
                                <i class="skill-icon {{ skill.icon }}"></i>
                                <p class="skill-name">{{ skill.name }}</p>
                            </div>
                            <p class="skill-description">
                                {{ skill.description }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    
        <section class="content-section">
            <header class="content-header">
                <div class="line"></div>
                <h2 class="text">Education</h2>
            </header>
            <div class="content" id="education">
                <div class="educations">
                    {% for education in page.educations %}
                        <a class="education" href=" {{ education.url }}" target="_blank">
                            <div class="education-title">
                                {% for entry in education.name %}
                                    <p>{{ entry }}</p>
                                {% endfor %}
                            </div>
                            <div class="education-result">
                                {% for entry in education.result %}
                                    <p>{{ entry }}</p>
                                {% endfor %}
                            </div>
                            <div class="education-school">
                                {% for entry in education.school %}
                                    <p>{{ entry }}</p>
                                {% endfor %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    
        <section class="content-section">
            <header class="content-header">
                <div class="line"></div>
                <h2 class="text">Papers</h2>
            </header>
            <div class="content">
                <div class="papers">
                    {% for paper in page.papers %}
                        <a class="paper" href="{{ paper.url }}" target="_blank">
                            <p class="paper-title">{{ paper.name }}</p>
                            <div class="paper-meta">
                                {% for entry in paper.meta %}
                                    <p>{{ entry }}</p>
                                {% endfor %}
                            </div>
                            <p class="paper-description">
                                {{ paper.description }}
                            </p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
    
    <script src="/jss/carousel.js"></script>
</body>



</html>
